<form action="contactUs.html" method+"POST">
	First Name: <input type="text" name="First Name:"><br>
	Last Name:  <input type="text" name="Last Name:"><br>
	Email:      <input type="text" name="Email:"><br>
	Type of License:<br>
	<input type="radio" name="answer" value="BUSINESS" checked>Business <br>
	<input type="radio" name="answer" value="PERSONAL">Personal<br>
	Reason:<br>
	<select name="Reason:">
		<option value="VAL1">Select a Reason</option>
		<option value="VAL2">Software Support</option>
		<option value="VAL3">Hardware Support</option>
		<option value="VAL4">Information Request</option>
	</select><br>
	Additional Information:
	<textarea name="ADDITIONAL INFORMATION">
	</textarea><br>
	<input type="checkbox" name=myChoices" value="I HAVE READ THE TERMS OF SERVICE.">I have read the terms of service.<br>
	<input type="sumbit" value="SEND REQUEST"><br>
</form>
